*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos de Header */


a{
    text-decoration: none;
    color: #000000;
}

header{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    display: grid;
    grid-template-areas: "logoSize titleSize"
                         "menuHome menuHome";
                         
   align-items: center;
   grid-template-columns: 4.5rem 1fr;
}



.menuHome{
    grid-area: menuHome;
}

.navbar-color{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.item-menu:hover{
border-width: 20px;
border: #000000;
}



header nav div a{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
    margin: 0.5rem;
    background-color: #6A67CE;
    border-radius: 1rem;
    padding: 0.4rem;
    font-size: 0.7rem;
    transition: 0.3s;
}

nav ul li:hover{
    transform: scale(1.2);
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.07rem;

}

*/

.titleSize{
    
    grid-area: titleSize;
    text-align: start;
    color: #1AE096;
    text-align: start;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: 'Roboto Serif', serif;
    
}

.logoSize{
    grid-area: logoSize;
    height: 4rem;
    width: 4rem;
max-width: 4rem;
}

.logoInicio{
    height: auto;
    width: auto;
    max-height: 4rem;
    max-width: 4rem;
}


/* Estilos de main index */

h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

p{
    font-family: 'Roboto Serif', serif;
    margin: 2rem;
}

.mainHome{
    height: 110vh;
    display: grid;
    grid-template-areas: "subtextoMain"
                         "fertiVamp"
                         "videoLed"
                         "fertiAzteka";

    
    justify-items: center;
    align-items: center;
}



.subtextoMain{
    width: 100%;
    font-size: 1rem;
    grid-area: subtextoMain;
    height: fit-content;
    text-align: center;
    color: #000000;
    background-color: #1ae097e5;
    align-self: flex-start;
}

.fertiVamp{
    grid-area: fertiVamp;

    width: auto;
    height: auto;
    
}

.vampSize{
    width: 15rem;
    height: 15rem;
}

.vampSize:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

.videoLed{
    grid-area: videoLed;

}

.videoSize{
    height: 8.43rem;
    width: 15rem;
}

.fertiAzteka{
    grid-area: fertiAzteka;

    width: auto;
    height: auto;
}

.aztekaSize{
    width: 15rem;
    height: 15rem;
}

.aztekaSize:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

/* Estilos de main productos */

.alfalfa-co{
    margin-bottom: 2rem;
    justify-content: center;
}

.microkashi-co{
    margin-bottom: 2rem;
    justify-content: center;
}

.seamagic-azteka{
    margin-bottom: 2rem;
    justify-content: center;
}

.activador-ls{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.comprar-bg{
    background-color: #55d35c;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
}

/* Estilos de main Nosotros */

.mainNosotros{
    display: grid;
    grid-template-areas: "subtituloNosotros subtituloNosotros"
                         "parrafoNosotros parrafoNosotros"
                         "logoInstagram logoFacebook"
                         "subtituloGaleria subtituloGaleria"
                         "carousel-galeria carousel-galeria";
justify-items: center;
grid-template-columns: 1fr 1fr;
}

.subtituloNosotros{
    grid-area: subtituloNosotros;
    margin: 00.5rem;
}
.parrafoNosotros{
    grid-area: parrafoNosotros;
    text-align: center;
    margin-bottom: 0.5rem;
}

.logoInstagram{
    grid-area: logoInstagram;
}

.logoFacebook{
    grid-area: logoFacebook;
}
.subtituloGaleria{
    grid-area: subtituloGaleria;
    font-size: 0.85rem;
    margin: 00.5rem;
}
.carousel-galeria{
    margin: 3rem;
    grid-area: carousel-galeria;
}

.foto-joaco{
    height: 18rem;
}

.staff-size{
    height: 18rem;
}

.staff-2{
    height: 18rem;
}

.facebookSize{
    height: 5rem;
    transition: all .2s ease-in-out;
}

.facebookSize:hover{
    transform: scale(1.5);
}

.instagramSize{
    width: 5rem;
    transition: all .2s ease-in-out;
}

.instagramSize:hover{
    transform: scale(1.5);
}




/* Estilos de main contacto */



/*
.mainContacto{
    height: 100vh;
    display: grid;
    grid-template-areas: "subContacto"
                         "formContacto";
}
*/

.mainContacto{
height: 80vh;
    align-items: center;
}

.formContacto{
    display: flex;
    justify-content: center;
    margin-top: 0.25rem;
    margin-bottom: 2rem;
    grid-area: formContacto;
    
}

.subtituloContacto{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    padding-right: 11rem;
    grid-area: subContacto;
    
}

/* Estilos de main Puntos de venta */

.mainPuntosdeventa{
    height: 100vh;
    display: grid;
    grid-template-areas: "subtituloPtosventa subtituloPtosventa"
                         "imagenMapa imagenMapa"
                         "pinIcon ubicacionA"
                         "pinIcon2 ubicacionB";
justify-content: center;
text-align: center;
align-items: center;
}

.subtituloPtosventa{
    grid-area: subtituloPtosventa;
}

.imagenMapa{
    grid-area: imagenMapa;
  
}

.mapaSize{
    width: 20rem;
}

.pinIcon{
    grid-area: pinIcon;

}
.ubicacionA{
    grid-area: ubicacionA;
}
.pinIcon2{
    grid-area: pinIcon2;
}
.ubicacionB{
    grid-area: ubicacionB;
}

.pinSize{
    height: 5rem;
}
/* Estilos de Footer */

h3{
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
}
footer{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

body{background-color: #EEF3D2;}

/* MQ */

/* index */
@media screen and (min-width:1024px){

.menuHome{
    justify-content: center;
}

    .mainHome{
        grid-template-areas: "subtextoMain subtextoMain"
                             "fertiVamp fertiAzteka"
                             "videoLed videoLed";
    }
    .vampSize{
        width: 30rem;
        height: 30rem;
    }
    .aztekaSize{
        width: 30rem;
        height: 30rem;
    }

    .videoSize{
        height: 22.48rem;
        width: 40rem;
    }


/* nosotros */
.mainNosotros{

grid-template-areas: "subtituloNosotros subtituloNosotros"
"parrafoNosotros parrafoNosotros"
"logoInstagram logoFacebook"
"subtituloGaleria subtituloGaleria"
"carousel-galeria carousel-galeria";

align-items: center;
}
.logoInstagram{
    justify-self: end;
}
.logoFacebook{
    justify-self: start;
}
.staff-size{
height: 25rem;
}

.staff-2{
    height: 25rem;
}

.foto-joaco{
    height: 25rem;
}

.subtituloNosotros{
    font-size: 3rem;
}


.subtituloGaleria{
    font-size: 1.75rem;
}

/* Contacto */

.formContacto{
    font-size: 2rem;
}
form fieldset input{
    font-size: 2rem;
    margin: 2rem;
}

.subtituloContacto{
    margin-top: 30rem;
    font-size: 4rem;
    padding-right: 23.5rem;
}

/* Puntos de venta */

.mainPuntosdeventa{
    grid-template-areas: "subtituloPtosventa subtituloPtosventa subtituloPtosventa subtituloPtosventa"
    "imagenMapa imagenMapa imagenMapa imagenMapa"
    "pinIcon ubicacionA pinIcon2 ubicacionB"
    ;
    column-gap: 3rem;
}

.subtituloPtosventa{
font-size: 3rem;
}

.mapaSize{
width: 40rem;
}

.pinSize{
height: 10rem;
}

.ubicacionA{
font-size: 2rem;
}

.ubicacionB{
font-size: 2rem;
}

}

