@import "base/variables";
@import "base/mixins";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEF3D2;

header{
    background: $gradiente;
    display: grid;
    grid-template-areas: "logoSize titleSize"
                         "menuHome menuHome";
                         
   align-items: center;
   grid-template-columns: 4.5rem 1fr;

   a{
    text-decoration: none;
    color: #000000;
}


.menuHome{
    grid-area: menuHome;
}

.navbar-color{
    background: $gradiente;
}

.item-menu:hover{
border-width: 20px;
border: #000000;
}



header nav div a{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.titleSize{
    
    grid-area: titleSize;
    text-align: start;
    color: #1AE096;
    text-align: start;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: $tipografia;
    
}

.logoSize{
    grid-area: logoSize;
    height: 4rem;
    width: 4rem;
max-width: 4rem;
}

.logoInicio{
    height: auto;
    width: auto;
    max-height: 4rem;
    max-width: 4rem;
}

}

// main home

.mainHome{
    width: 100%;
    height: 100vh;
    display: grid;
justify-content: center;
    align-items: center;
    grid-template-areas: "subtextoMain"
                         "fertiVamp"
                         "videoLed"
                         "fertiAzteka";

    grid-template-columns: 1fr;


    h2{
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-style: italic;
    }
    
    p{
        font-family: $tipografia;
        margin: 2rem;
    }
    
    
    
    
    .subtextoMain{
        width: 100%;
        font-size: 1rem;
        grid-area: subtextoMain;
        height: fit-content;
        text-align: center;
        color: #000000;
        background-color: #1ae097e5;
        align-self: flex-start;
    }
    
    .fertiVamp{
        grid-area: fertiVamp;
    justify-self: center;
        width: auto;
        height: auto;
        
    }
    
    .vampSize{
        width: 15rem;
        height: 15rem;
    }
    
    .vampSize:hover{
        transform: scale(1.3);
        transition: 1.5s;
    }
    
    .videoLed{
        grid-area: videoLed;
    justify-self: center;
    }
    
    .videoSize{
        height: 8.43rem;
        width: 15rem;
    }
    
    .fertiAzteka{
        grid-area: fertiAzteka;
        width: auto;
        height: auto;
        justify-self: center;
    }
    
    .aztekaSize{
        width: 15rem;
        height: 15rem;
    }
    
    .aztekaSize:hover{
        transform: scale(1.3);
        transition: 1.5s;
    }
}

/* Estilos de main productos */

.alfalfa-co{
    margin-bottom: 2rem;
    justify-content: center;
}

.microkashi-co{
    margin-bottom: 2rem;
    justify-content: center;
}

.seamagic-azteka{
    margin-bottom: 2rem;
    justify-content: center;
}

.activador-ls{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.comprar-bg{
    background-color: #55d35c;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
}

/* Estilos de main Nosotros */

.mainNosotros{
    display: grid;
    grid-template-areas: "subtituloNosotros subtituloNosotros"
                         "parrafoNosotros parrafoNosotros"
                         "logoInstagram logoFacebook"
                         "subtituloGaleria subtituloGaleria"
                         "carousel-galeria carousel-galeria";
justify-items: center;
grid-template-columns: 1fr 1fr;
}

.subtituloNosotros{
    grid-area: subtituloNosotros;
    margin: 00.5rem;
}
.parrafoNosotros{
    grid-area: parrafoNosotros;
    text-align: center;
    margin-bottom: 0.5rem;
}

.logoInstagram{
    grid-area: logoInstagram;
}

.logoFacebook{
    grid-area: logoFacebook;
}
.subtituloGaleria{
    grid-area: subtituloGaleria;
    font-size: 0.85rem;
    margin: 00.5rem;
}
.carousel-galeria{
    margin: 3rem;
    grid-area: carousel-galeria;
}

.foto-joaco{
@include imagenes-carousel;
}

.staff-size{
    @include imagenes-carousel;
}

.staff-2{
    @include imagenes-carousel;
}

.facebookSize{
    height: 5rem;
    transition: all .2s ease-in-out;
}

.facebookSize:hover{
    transform: scale(1.5);
}

.instagramSize{
    width: 5rem;
    transition: all .2s ease-in-out;
}

.instagramSize:hover{
    transform: scale(1.5);
}

/* Estilos de main contacto */

.mainContacto{
    height: 80vh;
        align-items: center;
    }
    
    .formContacto{
        display: flex;
        justify-content: center;
        margin-top: 0.25rem;
        margin-bottom: 2rem;
        grid-area: formContacto;
        
    }
    
    .subtituloContacto{
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        padding-right: 11rem;
        grid-area: subContacto;
        
    }

    /* Estilos de main Puntos de venta */

.mainPuntosdeventa{
    height: 100vh;
    display: grid;
    grid-template-areas: "subtituloPtosventa subtituloPtosventa"
                         "imagenMapa imagenMapa"
                         "pinIcon ubicacionA"
                         "pinIcon2 ubicacionB";
justify-content: center;
text-align: center;
align-items: center;
}

.subtituloPtosventa{
    grid-area: subtituloPtosventa;
}

.imagenMapa{
    grid-area: imagenMapa;
  
}

.mapaSize{
    width: 20rem;
}

.pinIcon{
    grid-area: pinIcon;

}
.ubicacionA{
    grid-area: ubicacionA;
}
.pinIcon2{
    grid-area: pinIcon2;
}
.ubicacionB{
    grid-area: ubicacionB;
}

.pinSize{
    height: 5rem;
}

footer{
        background: $gradiente;
        h3{
            font-size: 1rem;
            display: flex;
            justify-content: flex-end;
            padding-right: 0.5rem;
        }
}

// Media Queries

@media screen and (min-width:1024px){

    //Index

        .mainHome{
            grid-template-areas: "subtextoMain subtextoMain"
                                 "fertiVamp fertiAzteka"
                                 "videoLed videoLed";

                                 grid-template-columns: 1fr 1fr;
        }



        .vampSize{
            width: 30rem;
            height: 30rem;
        }
        .aztekaSize{
            width: 30rem;
            height: 30rem;
        }
    
        .videoSize{
            height: 22.48rem;
            width: 40rem;
        }
    
    

    .mainNosotros{
    
    grid-template-areas: "subtituloNosotros subtituloNosotros"
    "parrafoNosotros parrafoNosotros"
    "logoInstagram logoFacebook"
    "subtituloGaleria subtituloGaleria"
    "carousel-galeria carousel-galeria";
    
    align-items: center;
    }
    .logoInstagram{
        justify-self: end;
    }
    .logoFacebook{
        justify-self: start;
    }
    .staff-size{
    height: 25rem;
    }
    
    .staff-2{
        height: 25rem;
    }
    
    .foto-joaco{
        height: 25rem;
    }
    
    .subtituloNosotros{
        font-size: 3rem;
    }
    
    
    .subtituloGaleria{
        font-size: 1.75rem;
    }
    
  //Contacto
    
    .formContacto{
        font-size: 2rem;
    }
    form fieldset input{
        font-size: 2rem;
        margin: 2rem;
    }
    
    .subtituloContacto{
        margin-top: 30rem;
        font-size: 4rem;
        padding-right: 23.5rem;
    }
    
    // Puntos de venta 
    
    .mainPuntosdeventa{
        grid-template-areas: "subtituloPtosventa subtituloPtosventa subtituloPtosventa subtituloPtosventa"
        "imagenMapa imagenMapa imagenMapa imagenMapa"
        "pinIcon ubicacionA pinIcon2 ubicacionB"
        ;
        column-gap: 3rem;
    }
    
    .subtituloPtosventa{
    font-size: 3rem;
    }
    
    .mapaSize{
    width: 40rem;
    }
    
    .pinSize{
    height: 10rem;
    }
    
    .ubicacionA{
    font-size: 2rem;
    }
    
    .ubicacionB{
    font-size: 2rem;
    }
    
    }



}

